fail_fast: false
repos:
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: cpplint
        args: ["--filter=-legal/copyright,-whitespace/comments"]
      - id: cppcheck
        args: [
          --enable=all,--check-level=exhaustive, --suppress=missingInclude,
          --suppress=missingIncludeSystem, --suppress=unmatchedSuppression,
          --suppress=checkersReport, --suppress=unusedFunction,
          --suppress=useStlAlgorithm
        ]
  - repo: local
    hooks:
      - id: utest
        name: Build and run unit tests
        entry: sh ./build-and-test.sh
        language: system
        always_run: true
        pass_filenames: false